html{
  height: 100vh;
  }
  .date{
    display:block;
    font-size:4.5vh;
    right: 10%;
  }

  .loading{
    top: 40%;
    position: fixed;
    left:0;
    right:0;
    margin: 0 auto;
  }
  .onLoad{
    color:
  }
  .view{
    font-family: 'Russo One';
  background-image: url("https://cdn.vox-cdn.com/uploads/chorus_image/image/48156639/03_2013_DODGER_STADIUM.0.0.jpg");
  background-attachment: fixed ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	height:100vh;
    z-index: -1;
    overflow: hidden;
}
.gameName img{
  height: 75px;
  width: 150px;
  margin-top:-50px;
}
.awayTeamTitle img{
  float:right;
  z-index: -1;
}
.homeTeamTitle img{
  float:left;
  z-index: -1;
}
.scoreBoard{
  margin: 0 auto;
  width: 75%;
}
.scoreBoard table{
  margin: 30px auto 0 auto;
  width: 75%;

  font-size: 3vh;
}
.homeTeamLeft, .awayTeamLeft{
  float: left;
  text-align: left!important;
}
.boxScore{
  position: fixed;
  top:40%;
  left: 0;
  right: 0;
  margin: 0 auto;

}
.table-inverse{
  color: black;
}
.awayTeam{
  position: fixed;
  right:10%;
  top:30%;
  font-size: 30px;
  color: #000;
  text-align: center;

}
.homeTitle{
  position: fixed;
  width:250px;
  height:125px;
  left:175px;
  top:220px;
  background-image: url('../img/los-angeles-dodgers-title.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;

}
.homeImage{
  position: fixed;
  left:15%;
  bottom:30%;
  background-image: url('../img/los-angeles-dodgers.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:200px;
  height: 200px;
}
.homeTeam{
  position: fixed;
  left:10%;
  top:30%;
  font-size: 30px;
  color: #000;
  text-align: center;
}
.title{
  color:white;
  font-size: 5vh;
  text-align: center;
  margin: 30px auto;
  background-color:rbga(255,255,255,1);
}
.gameTime{
  font-size:4.5vh;
  color:white;
  position: fixed;
  top:30%;
  left:0;
  right:0;
  margin:0 auto;
}
.home{
  left:0;
  right:0;
  padding : 0;
  top:50vh;
  width: 100vw;
  height:50vh;
  top:25%;
  position: fixed;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}
.container{
  display: inline-flex;  // <-- This is responsible for vertical alignment
  padding: 0!important;
  width: 100vw;
  top:0;

}
.innings{
  font-size: 55px;
}
